body {
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  color: #ffffff;
}

.headerText {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}

.btnGen {
  font-weight: bold;
  color: black;
  background-color: white;
  border-radius: 10px;
  border: none;
  padding: 15px;
  cursor: pointer; 
}

.imgDisplay {
  margin-top: 40px;
  display: flex;
  max-width: 1400px;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-around;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  position: relative;
  left: 30px;
  padding: 10px;
}